{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="row gx-5">
    <div class="col">
        <div class="p-3 border bg-light">
            <h3>Following</h3>

            <div class="list-group">
                {% for post in page_obj %}
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <a href="{% url 'user_profile' post.created_by.id %}">
                            <h5 class="mb-1">{{ post.created_by }}</h5>
                        </a>
                        <small class="text-muted">{{ post.created_at }}</small>
                    </div>
                    <p class="mb-1">{{ post.body }}</p>
                    <small class="text-muted">

                        {% if request.user in post.likes.all %}
                        <input id='like_button_{{ post.id }}' type="image" style="width: 20px;" onclick="like_post('{{ post.id }}', '{{ request.user.id }}')" src="{% static 'network/unlike.png' %}">
                        {% else %}
                        <input id='like_button_{{ post.id }}' type="image" style="width: 20px;" onclick="like_post('{{ post.id }}', '{{ request.user.id }}')" src="{% static 'network/like.png' %}">
                        {% endif %}
                        
                        <p id="post_{{ post.id }}"> {{ post.number_of_likes }} </p>

                    </small>
                </div>
                <br>
                {% endfor %}
            </div> 

            <nav>
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>


                    {% endif %}
            
                        
                        <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                        
            
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}